<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard">
      <div class="sidebar-brand-icon">
        <i class="fab fa-artstation"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Menu
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="skills" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Skills</span>
      </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="about" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>About</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="edu" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-graduation-cap"></i>
        <span>Education</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="porto" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-pencil-alt"></i>
        <span>Portfolio</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="allContact" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-envelope"></i>
        <span>Inbox</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

  </ul>