<% if (messages.error){%>
<h5><%= messages.error %></h5>
<%}%>
<h1>Login</h1>
<br>
<hr>
<br>
<form action="login" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" id="username">
    <br>

    <label for="password" >password</label>
    <br>
    <input type="password" name="password" id="password">
    <br>

    <button type="submit" id="btnLogin" onclick="submitInfo();">Login</button>
</form>
<script>
    // document.querySelector('#btnLogin').addEventListener('click', _ => {
    //     fetch('http://localhost:3002/user/login', {
    //         method: 'POST',
    //         mode: 'cors',
    //         redirect: 'follow',
    //         credentials: 'include', // Useful for including session ID (and, IIRC, authorization headers)
    //         headers: new Headers ({authorization: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJhbmRyZSIsImlhdCI6MTYyNjQ0NjA5OX0.qkaio4Owr2zngpHMgr0HgjMH73FISfi02VGTdm5V2QU'}),
    //         body:{
    //             username: document.querySelector('#username').value,
    //             password: document.querySelector('#password').value
    //         }
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         console.log(data) // Prints result from `response.json()`
    //     })
    //     .catch(error => console.error(error))
    // })
        
    
    
</script>