<h1><%= title%></h1>
<br>
<hr>
<br>
<form action="register" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username">
    <br>

    <label for="password" >password</label>
    <br>
    <input type="password" name="password" id="">
    <br>

    <button type="submit">Register</button>
</form>