<h1>Contact me</h1>
<br>
<hr>
<br>
<form action="user/pengiriman" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" id="email">
    <br>

    <label for="subject" >Subject</label>
    <br>
    <input type="text" name="subject" id="subject">
    <br>

    <label for="message" >Message</label>
    <br>
    <textarea type="text" name="message" id="message" rows="3"></textarea>
    <br>

    <button type="submit" id="btnLogin">Send</button>
</form>