<%- include("../partials/head"); %>

    <!-- Sidebar -->
    <%- include("../partials/sidebar"); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include("../partials/topbar"); %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <div class="card shadow mb-4">
            <div class="card-body">
                <% if(about == 0){%>
                <h5>Description</h5><a href="#" class="btn btn-primary btn-sm mr-1">Add</a>
                <% }else{ %>
                <% about.forEach( a => { %>
                <h5>Description</h5><a href="about-edit/<%= a.id %>" class="btn btn-warning btn-sm mr-1">Edit</a>
                <hr>
                <p><%=a.desc%></p>
                <% }) %>
                <% }%>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include("../partials/footer"); %>
