<%- include("../partials/head"); %>

    <!-- Sidebar -->
    <%- include("../partials/sidebar"); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include("../partials/topbar"); %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <div class="card shadow mb-4">
            <div class="card-body">
                
                    <form>
                        <div class="form-group">
                            <input type="hidden" name="id" id="id" class="form-control" value="<%= skill.id %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title</label>
                            <input type="text" name="title" id="title" class="form-control" value="<%= skill.title %>">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Description</label>
                            <input type="text" name="icon" id="icon" class="form-control" value="<%= skill.icon %>">
                        </div>
                        <a href="/user/skills" class="btn btn-warning">Back</a>
                        <button type="submit" id="save-skill" class="btn btn-primary">Edit</button>
                    </form>
                
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <script>
        $(document).ready(function () { 
            $("#save-skill").click( e => { 
                e.preventDefault()
                console.log('id = '+document.getElementById("title").value)
                $.ajax({  
                    url: '/user/skills/'+document.getElementById("id").value,  
                    type: 'PUT',
                    data: $('form').serialize(),
                    success: res => { window.location.href = res; }
                })
            });  
        });
      </script>
      <!-- Footer -->
      <%- include("../partials/footer"); %>
