<%- include("../partials/head"); %>

    <!-- Sidebar -->
    <%- include("../partials/sidebar"); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include("../partials/topbar"); %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <div class="card shadow mb-4">
            <div class="card-body">
              <a href="skills-add" class="btn btn-primary mb-3">Add Skill</a>
              <div class="text-center">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Skill</th>
                            <th scope="col">Icon From FontAwesome</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if (skills == 0){ %>
                            <td colspan="3"><strong>Data Kosong</strong></td>
                        <%}else{ %>
                        <%let i= 1;%>
                        <% skills.forEach(skill => { %>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <td><%=skill.title%></td>
                            <td><%=skill.icon%></td>
                            <td>
                              <a href="skills-edit/<%=skill.id%>" class="btn btn-warning btn-sm">Edit</a>
                              <button data-id="<%=skill.id%>" class="hapus-skill btn btn-danger btn-sm" onclick="return confirm('Hapus?');" >Delete</button>   
                            </td>
                        </tr>
                        <% i=i+1; %>
                        <% }) %>
                        <%}%>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <script>
        $(document).ready(function () { 
            $(".hapus-skill").each(( id , element) => {
                // console.log(element)
                element.addEventListener('click' ,e => { 
                    e.preventDefault()
                    const id = element.dataset.id;
                    // console.log(id)
                    // console.log(document.getElementById("id").value)
                    $.ajax({  
                        url: '/user/skills/'+id,  
                        type: 'DELETE',
                        success: res => { window.location.href = res }
                    })
                });  
            });
        });
      </script>
      <!-- Footer -->
      <%- include("../partials/footer"); %>
